/**************************************************************

    Dynamic Table
    v 0.4

**************************************************************/

.dynamicTable tbody tr {
    background-color: #171717;
}

.dynamicTable tbody tr:nth-child(even),
.dynamicTable tbody tr.alt {
    background-color: #333;
}

#transferList .dynamicTable td {
    padding: 0 2px;
}

.dynamicTable tbody tr.selected {
    background: linear-gradient(135deg, #8b1eff 0%, #ff8f1f 50%, #44ffbe 100%);
    color: #171717;
    font-family: "VictorMono-Bold";
    font-weight: 900;
}

.dynamicTable tbody tr.selected:hover {
    color: #01f5ea;
}

.dynamicTable tbody tr:hover {
    color: #ff8f1f;
}

#transferList tr:hover {
    cursor: pointer;
}

#transferList img.stateIcon {
    height: 1.3em;
    margin-bottom: -1px;
    vertical-align: middle;
}

tr.dynamicTableHeader {
    cursor: pointer;
}

.dynamicTable {
    border-spacing: 0;
    padding: 0;
    table-layout: fixed;
    width: 1%;
}

.dynamicTable th {
    background-color: #333;
    border-right-color: #cdcdcd;
    border-right-style: solid;
    border-right-width: 3px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px 5px;
    white-space: nowrap;
}

.dynamicTable td {
    padding: 0px 4px;
    white-space: nowrap;
}

.dynamicTable thead tr {
    background-color: #333;
}

.dynamicTable th,
.dynamicTable td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dynamicTable th.sorted {
    background-image: url(../icons/go-up.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 15px;
}

.dynamicTable th.sorted.reverse {
    background-image: url(../icons/go-down.svg);
}

.dynamicTable td img.flags {
    height: 1.25em;
    vertical-align: middle;
}

.dynamicTableFixedHeaderDiv {
    overflow: hidden;
    background: #333;
}

.dynamicTableDiv {
    overflow: auto;
}

.dynamicTableDiv thead th {
    height: 0px !important;
    line-height: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

