/* Reset */

/*ul,ol,dl,li,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input,object,iframe { margin: 0; padding: 0; }*/

a img,
:link img,
:visited img {
    border: none;
}

@font-face {
    font-family: "VictorMono-Bold";
    src: url("../fonts/VictorMonoNF-Bold.ttf");
}

@font-face {
  font-family: "VictorMono-SB";
  src: url("../fonts/VictorMonoNF-Semi-Bold.ttf");
}

@font-face {
  font-family: "VictorMono";
  src: url("../fonts/VictorMonoNF-Regular.ttf");
}


/*table { border-collapse: collapse; border-spacing: 0; }*/

:focus {
    outline: none;
}

/* Structure */

body {
    
    color: #e0e0e0;
    font-family: VictorMono;
    font-size: 10pt;
    line-height: 14pt;
    margin: 0;
    text-align: left;
}

.aside {
    width: 300px;
}

.invisible {
    display: none;
}

/* Typography */

h2,
h3,
h4 {
    color: #cdcdcd;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0 0 5px 0;
}

h2 {
    color: #e0e0e0;
    font-size: 14px;
    font-weight: bold;
}

#mochaPage h3 {
    border-bottom: 1px solid #FF2975;
    display: block;
    font-size: 12px;
    margin: 0 0 8px 0;
    padding: 6px 0 6px 0;
}

#error_div {
    color: #FF2975;
    float: left;
    font-size: 14px;
    font-weight: bold;
}

h4 {
    font-size: 11px;
}

/* width */
::-webkit-scrollbar {
	background: #171717;
    width: 6pt;
    height: 6pt;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #333; 
    border-radius: 2pt;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #333; 
    border-radius: 2pt;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, #8b1eff 0%, #ff8f1f 50%, #44ffbe 100%); 
}

a {
    color: #44ffbe;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0 0 9px 0;
}

/* List Elements */

ul {
    list-style: outside;
    margin: 0 0 9px 16px;
}

dt {
    font-weight: bold;
}

dd {
    padding: 0 0 9px 0;
}

/* Code */

pre {
    background-color: #00f6f6;
    border: 1px solid #d1d700;
    color: #44ffbe;
    display: block;
    font-family: VictorMono-SB;
    font-size: 11px;
    margin: 0 0 10px 0;
    max-height: 250px;
    overflow: auto;
    padding: 10px;
}

/* Dividers */

hr {
    background: rgb(139,30,255);
    background: linear-gradient(135deg, #8b1eff 0%, #ff8f1f 50%, #44ffbe 100%);
    border: 0px;
    color: #44ffbe;
    height: 1px;
}

.icon {
    padding-top: 5px;
    margin-top: 5px;
    font-size: 14pt;
}

.dent {
    margin-left: 5pt;
}

.vcenter {
    vertical-align: middle;
}

#urls {
    height: 100%;
    width: 90%;
}

#trackersUrls {
    height: 100%;
    width: 90%;
}

#Filters ul {
    list-style-type: none;
    margin-left: 13pt;
}

#Filters ul li {
    margin-left: -11pt;
}

#Filters ul img {
    height: 16px;
    padding: 2px 4px;
    vertical-align: middle;
    width: 16px;
}

.selectedFilter {
    background: #8b1eff;
    background: linear-gradient(135deg, #8b1eff 0%, #ff8f1f 50%, #44ffbe 100%);
    color: #171717;
}

.selectedFilter a {
    color: #171717;
    font-weight: 900;
}

#properties {
    background-color: #171717;
}

a.propButton {
    border: 1px solid rgb(85, 00, 91);
    margin-left: 3px;
    margin-right: 3px;
    /*border-radius: 3px;*/
    padding: 2px;
}

a.propButton img {
    margin-bottom: -4px;
}

.scrollableMenu {
    overflow-x: hidden;
    overflow-y: auto;
}

/* context menu specific */

.contextMenu {
    background: #333;
    border: 1px solid #171717;
    display: none;
    list-style-type: none;
    padding: 0;
}

.contextMenu .separator {
    border-top: 1px solid #171717;
}

.contextMenu li {
    margin: 0;
    padding: 0;
}

.contextMenu li a {
    color: #cdcdcd;
    display: block;
    font-family: VictorMono;
    font-size: 12px;
    padding: 5px 20px 5px 5px;
    text-decoration: none;
    white-space: nowrap;
}

.contextMenu li a:hover {
    background-color: #171717;
}

.contextMenu li a.disabled {
    color: #FF2975;
    font-style: italic;
}

.contextMenu li a.disabled:hover {
    background-color: #333;
}

.contextMenu li ul {
    background: #333;
    border: 1px solid #171717;
    left: -999em;
    list-style-type: none;
    margin: -29px 0 0 100%;
    padding: 0;
    position: absolute;
    width: 164px;
    z-index: 8000;
}

.contextMenu li ul li a {
    position: relative;
}

.contextMenu li a.arrow-right,
.contextMenu li a:hover.arrow-right {
    background-image: url(../images/arrow-right.gif);
    background-position: right center;
    background-repeat: no-repeat;
}

.contextMenu li:hover ul,
.contextMenu li.ieHover ul,
.contextMenu li li.ieHover ul,
.contextMenu li li li.ieHover ul,
.contextMenu li li:hover ul,
.contextMenu li li li:hover ul {
    /* lists nested under hovered list items */
    left: auto;
}

.contextMenu li img {
    height: 16px;
    -ms-interpolation-mode: bicubic;
    margin-bottom: -4px;
    width: 16px;
}

.contextMenu li input[type="checkbox"] {
    position: relative;
    top: 3px;
}

/* Sliders */

.slider {
    clear: both;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 15px;
    position: relative;
    width: 400px;
}

.sliderWrapper {
    font-size: 1px;
    height: 9px;
    line-height: 1px;
    position: relative;
    width: 422px;
}

.sliderarea {
    background: #00f200 url(../images/slider-area.webp) repeat-x;
    border: 1px solid #a3a3a3;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    font-size: 1px;
    height: 7px;
    left: 0;
    line-height: 1px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 420px;
}

.sliderknob {
    background: url(../images/knob.gif) no-repeat;
    cursor: pointer;
    font-size: 1px;
    height: 9px;
    left: 0;
    line-height: 1px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 19px;
    z-index: 2;
}

.update {
    padding-bottom: 5px;
}

.mochaToolButton {
    margin-right: 10px;
}

/* Mocha Customization */

#mochaToolbar {
    height: 35px;
    margin-top: 5px;
    overflow-y: hidden;
    position: relative;
}

#mochaToolbar .divider {
/*    background-image: url(../images/toolbox-divider.gif); */
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 14px;
    padding-top: 15px;
}

.MyMenuIcon {
    margin-bottom: -3px;
    margin-left: -18px;
    padding-right: 5px;
}

#mainWindowTabs {
    float: right;
    margin: 4px 5px 0 0;
}

#torrentsFilterToolbar {
    float: right;
    margin-right: 30px;
}

#torrentsFilterInput {
    background-image: url("../icons/edit-find.svg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 1.5em;
    padding-left: 2em;
    width: 160px;
}

#torrentFilesFilterToolbar {
    float: right;
    margin-right: 10px;
}

#torrentFilesFilterInput {
    background-image: url("../icons/edit-find.svg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 1.5em;
    padding-left: 2em;
    width: 160px;
}

/* Tri-state checkbox */

label.tristate {
    background: url(../images/3-state-checkbox.gif) 0 0 no-repeat;
    display: block;
    float: left;
    height: 13px;
    margin: 0.15em 8px 5px 0px;
    overflow: hidden;
    text-indent: -999em;
    width: 13px;
}

label.checked {
    background-position: 0 -13px;
}

label.partial {
    background-position: 0 -26px;
}

fieldset.settings {
    -moz-border-image: -moz-linear-gradient(135deg, #8b1eff 0%, #ff8f1f 50%, #44ffbe 100%);
    -webkit-border-image: -webkit-linear-gradient(135deg, #8b1eff 0%, #ff8f1f 50%, #44ffbe 100%);
    border-image: linear-gradient(135deg, #8b1eff 0%, #ff8f1f 50%, #44ffbe 100%);
    border-image-slice: 1;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 4px 4px 4px 10px;
}

fieldset.settings legend {
    font-weight: bold;
    margin-left: 8px;
    padding: 4px;
}

fieldset.settings label {
    padding: 2px;
}

fieldset.settings + div.formRow {
    margin-top: 10px;
}

div.formRow {
    clear: left;
    display: block;
}

.filterTitle {
    display: block;
    font-size: 14pt;
    font-weight: bold;
    overflow: hidden;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 1px;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    border-bottom: #333 2px inset;
    margin-bottom: 4pt;
}

.filterTitle img {
    height: 14pt;
    margin-bottom: -3px;
    padding: 0 5px;
    width: 14pt;
}

.filterTitle img.rotate {
    transform: rotate(270deg);
}

ul.filterList {
    margin: 0 0 0 16px;
    padding-left: 0;
}

ul.filterList a {
    color: inherit;
    font-size: 12pt;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul.filterList li:hover {
    background-color: #8b1eff;
}

ul.filterList li:hover a {
    color: #e0e0e0;
}

details > summary {
    margin-left: -5pt;
    font-size: 12pt;
    cursor: pointer;
}

details summary::-webkit-details-marker,
details summary::marker {
    display: none;
    content: "";
}

summary:after {
    float: left;
    content: "\fa21";
    margin-right: 13.5pt;
    color: #FF2975;
    font-size: 18pt;
}

details[open] summary:after {
    content: "\fa20";
    color: #44ffbe;
    font-size: 18pt;
}

td.generalLabel {
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
    width: 1px;
}

#torrentFilesTableDiv {
    line-height: 20px;
}

#torrentTrackersTableDiv,
#webseedsTable {
    line-height: 25px;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    writing-mode: horizontal-tb;
    text-rendering: auto;
    color: #171717;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color:#e0e0e0;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color:#333;
    border-image: initial;
}

input[type="button" i] {
    cursor: pointer;
}

.filesTableCollapseIcon {
    cursor: pointer;
    height: 15px;
    margin-bottom: -3px;
    padding-right: 5px;
    width: 15px;
}

.filesTableCollapseIcon.rotate {
    margin-bottom: -1px;
    transform: rotate(270deg);
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#prop_general {
    padding: 2px;
}

#progress {
    border: 1px inset #333;
    padding: 0;
    position: relative;
    width: 100%;
}

#progress canvas {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#watched_folders_tab {
    border-collapse: collapse;
}

#watched_folders_tab td,
#watched_folders_tab th {
    border: 1px solid #333;
    padding: 2px 4px;
}

.select-watched-folder-editable {
    background-color: #333;
    border: solid #cdcdcd 1px;
    height: 20px;
    position: relative;
    width: 160px;
}

.select-watched-folder-editable select {
    border: none;
    bottom: 0px;
    left: 0px;
    margin: 0;
    position: absolute;
    top: 0px;
    width: 160px;
}

.select-watched-folder-editable input {
    border: none;
    left: 0px;
    padding: 1px;
    position: absolute;
    top: 0px;
    width: 140px;
}

.select-watched-folder-editable select:focus,
.select-editable input:focus {
    outline: none;
}

/*
 * Workaround to prevent the transfer list from
 * disappearing when zooming in the browser.
 */
#filtersColumn_handle {
    margin-left: -1px;
}

.combo_priority {
    font-size: 1em;
}

td.statusBarSeparator {
    background-image: url("../images/toolbox-divider.gif");
    background-position: center 1px;
    background-repeat: no-repeat;
    background-size: 2px 18px;
    width: 22px;
}

/* Statistics window */
.statisticsValue {
    text-align: right;
}

/* Search tab */

#SearchPanel,
#SearchPanel_wrapper,
#SearchPanel_pad {
    height: inherit;
}

#searchResults {
    height: 100%;
    padding: 0 20px;
}

#searchResultsTableContainer {
    -moz-height: calc(100% - 140px);
    -webkit-height: calc(100% - 140px);
    height: calc(100% - 140px);
    overflow: auto;
}

#searchResultsTableDiv {
    -moz-height: calc(100% - 26px) !important;
    -webkit-height: calc(100% - 26px) !important;
    height: calc(100% - 26px) !important;
}

#searchResults .dynamicTable {
    width: 100%;
}

#searchResults .numSearchResults {
    font-style: italic;
}

.red {
    color: #FF2975;
}

.green {
    color: #44ffbe;
}

.searchPluginsTableRow {
    cursor: pointer;
}

#torrentFilesTableDiv .dynamicTable tr.nonAlt {
    background-color: #171717;
}

#torrentFilesTableDiv .dynamicTable tr.nonAlt.selected {
    background-color: #333;
    color: #e0e0e0;
}

#torrentFilesTableDiv .dynamicTable tr.nonAlt:hover {
    background-color: #ff8f1f;
    color: #171717;
}
